/*classes for coloring blocks: rain*/
.rain__blue3 {
  background-color: blueviolet;
}
.rain__blue2 {
  background-color: royalblue;
}
.rain__blue1 {
  background-color: #00BFFF;
}
.rain__blue0 {
  background-color: #b0e0e6;

}

/*classes for coloring blocks: wind , temp*/
.block__red3 {
  background-color: red;
}
.block__red2 {
  background-color: lightcoral;
}
.block__red1 {
  background-color: pink;
}
.block__red0 {
  background-color: #fff9c4;
}
