/*classes for coloring blocks: rain*/
.rain__blue4 {
  background-color: #3f27ef;
}
.rain__blue3 {
  background-color: #1953de;
}
.rain__blue2 {
  background-color: #39c9fa;
}
.rain__blue1 {
  background-color: #b0e0e6;
}
.rain__blue0 {
  background-color: #d4f6f8;
}



/*classes for coloring blocks: wind , temp*/
.block__red3 {
  background-color: #fa1c1c;
}
.block__red2 {
  background-color: lightcoral;
}
.block__red1 {
  background-color: pink;
}
.block__red0 {
  background-color: #ffe3cc;
}
