body {
    font-size:11px;
}

p {
    margin-bottom: 2px;
    margin-top: 2px;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.headings {
    display: flex;
    background-color: gainsboro;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;
}

.city, .indicators {
    width: 75px;
}

.days {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    outline: 1px solid darkgrey;
}

.day {
    width: 45px;
    margin-left: 5px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible {
    display: none;
}

.form__label {
    font-size: 12px;
}


