.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.headings {
    display: flex;
    background-color: gainsboro;
    align-items: center;
    justify-content: center;
}

.city, .indicators {
    width: 200px;
}

.days {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    outline: 1px solid darkgrey;
}

.day {
    width: 85px;
    margin-left: 25px;
}

/*classes for coloring blocks: temp, rain and etc...*/
.block__blue3 {
    background-color: blueviolet;
}
.block__blue2 {
    background-color: royalblue;
}
.block__blue1 {
    background-color: #00BFFF;
}
.block__blue0 {
    background-color: #b0e0e6;
}

